*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    padding: 16px;
}

.galeria{
    column-count: 4;
    column-gap: 16px;

}

.galeria img {
    width: 100%;
    margin-bottom: 16px;
    
}
.formulario input {
    width: 100;
    padding: 12px;
    margin-bottom: 16px;

}

.formulario button{
    height: 100%;
    padding: 12px;
}

